@model DSUGrupp1.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Detaljsida";
}

@section LeftContent {

}

@section RightContent{

}

@section CenterContentOne {
    <h2>Statistik från DeSo områden i kommunen</h2>
  <div class="deSo-container">      
    <div class="left-div">
        @Html.DropDownListFor(d => d.DeSoDropDown.SelectedDeso, Model.DeSoDropDown.DeSos, "Välj ett område", new { @id = "left-deSo-dropdown" })
        <div id="left-deSo-statistics">
            
        </div>
        <div class="charts">
            <canvas id="left-deSo-chart"></canvas>
        </div>
        
    </div>

    <div class="right-div">
        @Html.DropDownListFor(d => d.DeSoDropDown.SelectedDeso, Model.DeSoDropDown.DeSos, "Välj ett område", new { @id = "right-deSo-dropdown" })
        <div id="right-deSo-statistics">
            
        </div>
        <div class="charts">
            <canvas id="right-deSo-chart"></canvas>
        </div>
        
    </div>
    </div>
    

}
@section CenterContentTwo {
    <div class="deSo-container">
        <div class="left-div">
            <div charts="charts">
                <canvas id="left-gender-chart"></canvas>

            </div>
        </div>

        <div class="right-div">
            <div charts="charts">
                <canvas id="right-gender-chart"></canvas>

            </div>
        </div>
    </div>
}
@section CenterContentThree {
    <h4>Filtrering</h4>

    <div class="filters">
        @Html.DropDownListFor(d => d.FilterDropDown.SelectedBatch, Model.FilterDropDown.Batches, "Välj Batch-nummer", new { @class = "dropdown-filter"})
        @Html.DropDownListFor(d => d.FilterDropDown.SelectedBatch, Model.FilterDropDown.VaccineName, "Välj vaccintyp", new { @class = "dropdown-filter" })
       @*  @Html.DropDownListFor(d => d.FilterDropDown.SelectedBatch, Model.FilterDropDown.VaccineCentral, "Välj vaccinationscentral", new { @class = "dropdown-filter" }) *@

        <p>Åldersintervall (Slider)</p>

        <div class="genderbox">
            <label>Man
            <input type="checkbox" name="GenderMale" checked="checked" value="@Html.CheckBoxFor(x => x.GenderMale)">
                <span class ="checkmark"></span>
            </label>
        </div>
        <div class="genderbox">
            <label>Kvinna
                <input type="checkbox" name="GenderFemale" checked="checked" value="@Html.CheckBoxFor(x => x.GenderFemale)">
                <span class="checkmark"></span>
            </label>
        </div>

    </div>
    <div class="charts">
        <canvas id ="left-filter-chart"></canvas>
    </div>
    <div class="charts">
        <canvas id="right-filter-chart"></canvas>
    </div>

}
